/***** LESS VAR*****/
/*Header (H)*/
@HHeight		: 40px;
@HBgColor		: #0B79E5;
@HBorderColor	: #c7e1ff;


/*Content (C)*/
@CELBgColor 	: #ffffff;
@CELBorderColor : #CCCCCC;
@CElBorder		: 1px solid @CELBorderColor;

/***** LESS VAR END*****/


body > *
{
	width: 100%;
	font-family: 'Istok Web', sans-serif;
	overflow: none;
}
/***** HEADER *****/
#header
{
	height : @HHeight;
	background-color: @HBgColor;
	/*position: fixed;
	top: 0;*/
	display: table;
	text-align: center;
	> *{
		display: table-cell;
		vertical-align: middle;
	}
	h1{
		color: #ffffff;
		font-size: 25px;
		font-weight: bold;
	}
	.button
	{
		-webkit-tap-highlight-color: transparent;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		width: 110px;
	}
}
/***** HEADER END *****/

/***** CONTENT *****/
#content
{
	position: absolute;
	top: @HHeight;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-overflow-scrolling: touch;
	transition: all 0.5 ease-in-out;
	> *{
		position: relative;
		transform: translate3d(0,0,0);
	}
}

.content-el
{
	height : 60px;
	width: 100%;
	background-color: @CELBgColor;
	border-bottom : @CElBorder;
	border-top: none;
	display: table;
	margin: 0 auto;
	&:first-child{
		border-top: @CElBorder;
	}
	h1, input{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	input
	{
		width: 80%;
		margin-left: 10%;
		height: 40px;
		margin-top: 8px;
	}

}

/*.content-input-wrap
{
	width: 80%;
	margin: 0 auto;
}*/
/***** CONTENT END *****/

/***** ANIMATIONS *****/

/***** ANIMATIONS END******/


