<!doctype html>
<html lang="en-US" ng-app="trainDay">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/glyphicons.css">
	<link rel="stylesheet/less" type="text/css" href="css/style.less">
	<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="script/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="script/angular.min.js"></script>
	<script type="text/javascript" src="script/app.js"></script>
	<script type="text/javascript" src="script/api.js"></script>
	<script type="text/javascript" src="script/script.js"></script>
	<script type="text/javascript" src="script/less-1.5.0.min.js">

		var less = require('less');

		less.render('.class { width: (1 + 1) }', function (e, css) {
//			console.log(css);
		});
	</script>

	<title>TrainDay</title>
</head>
<body>
	<div id="header" ng-controller="Navi">
		<div class="button" ng-click="back()">
			<span ng-show="historyIsAvailable" class="glyphicon glyphicon-chevron-left"></span>
		</div>
		<h1>{{ headerTitle || 'Header'}}</h1>
		<!--<div class="button" onclick="addNewElement()">-->
		<div class="button" ng-click="add()">
            <span class="glyphicon glyphicon-plus"></span>
		</div>
	</div>
	<div id="content" data-attr="plan">
		<div data-id="0" ng-show="loading" id="loading" style="">
			<h1><img src="img/loading.gif" alt=""/></h1>
		</div>

        <div ng-show="active" ng-controller="PlansOverviewCtrl">
            <div ng-click="seeDetail(this)" data-id="{{plan.id}}" class="content-el {{plan.later || ''}} last-{{$last}}" ng-repeat="plan in plans">
                <h1 ng-bind="plan.name"></h1>
            </div>
            <div class="content-el" data-id="" ng-show="newPlan">
                <input class="content-input" ng-model="newPlanName" type="text" max="20" min="1" key-focus>
            </div>
        </div>

        <div id="plan-detail" ng-show="active" ng-controller="PlanDetailCtrl">
            <div ng-bind-html="plan.desc | allowHTML" class="description">
                <!--{{plan.desc}}-->
            </div>
        </div>

        <!--<div class="content-el" data-id="" ng-show="{{newPlan}}">-->
            <!--<input class="content-input" type="text" name="newElement">-->
        <!--</div>-->
    </div>

	<div id="footer">

	</div>
</body>
</html>